
.logoh1{
  font-weight: bold;
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius:200px;
  float: right;
  top: 60%;
    transform: translateY(-138%);
}

.resumo{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  
}

.login{
  font-weight: bold;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius:5px;
}
.logoh3{
  font-weight: bold;
  text-align: center;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius:200px;
  top: 50%;
    transform: translateX(20%);
}
.saibamais{
  font-weight: bold;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius:5px;
  bottom: 40%;
}
a:hover{
  text-shadow:0px 0px 10px#888;
}

.layout2{
  background-color: #ffff;
  border-radius:0px 0px 10px 10px;
  width:70%;
  margin: auto; 
  height:598px;
  justify-content: center;
  box-shadow:0px 4px 10px #888; 
  display:block;
}

pre{
  display: block;
}

.criar_conta{
  text-align: center;
  font-weight: bold;
  position: absolute;
  transform: translateX(260%);
  top: 97%;
  left: 26%;
}
.pre_botao {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  transform: translateX(260%);
  top: 93%;
  left: 23%;
}

.flex-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-slider-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
  width: 100%;
}

.flex-slider-body > *:not(a),
.flex-slider-body a > * {
  min-width: 100%;
}

.flex-slider-body > img,
.flex-slider-body a > * {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.flex-slider-body > a {
  display: contents;
}

.flex-slider-btn-back,
.flex-slider-btn-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #FFF;
  border-radius: 40px;
  line-height: 1;
  position: absolute;
  top: calc(50% - 15px);
  color: #FFF;
  font-size: 24px;
  font-family: monospace;
  padding: 0;
  user-select: none;
  transition: 0.25s;
  z-index: 2;
  transform-origin: center;
  padding-bottom: 1px;
}

.flex-slider-btn-back:active,
.flex-slider-btn-next:active {
  transform: scale(0.9);
}

.flex-slider-btn-back {
  left: 20px;
}

.flex-slider-btn-next {
  right: 20px;
}

.flex-slider-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  z-index: 1;
}

.flex-slider-dots .dot {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #FFF;
  margin: 5px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: transparent;
}

.flex-slider-dots .dot.active {
  background-color: #FFF;
}

