h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5%;
}

hr {
  background: #141414;
  height: 2px;
  border: none;
  box-shadow: 0px 0px 15px #888;
  width: 90%;
}

.dados {
  padding: 8px;
  border: none;
  box-shadow: 0px 0px 5px#888;
  border-radius: 10px;
  margin: 8px;
  margin-left: 5%;
  transition: 0.3s ease;
}

.dados:hover {
  background: rgb(224, 224, 224);
  ;
}

button {
  background: #aacb62;
  color: #141414;
  border-radius: 4px;
  padding: 8px;
  border: none;
  box-shadow: 0px 0px 5px#888;
  margin: 8px;
  margin-left: 5%;
  transition: 0.3s ease;
}

button:hover {
  background: #4cbb17;
  color: #fff;
  transition: 0.3s ease;
}