  hr {
    background: #141414;
    height: 2px;
    border: none;
    box-shadow: 0px 0px 15px #888;
    width: 90%;
  }

  h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
  }

  .dados {
    padding: 8px;
    border: none;
    box-shadow: 0px 0px 5px#888;
    margin: 8px;
    margin-left: 5%;
    transition: 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  input {
    border-radius: 10px;
  }

  input:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.3s ease;
  }

  button {
    background: #aacb62;
    color: #141414;
    border-radius: 3px;
  }

  button:hover {
    background: #4cbb17;
    color: #fff;
    transition: 0.3s ease;
  }

  .del {
    background: #bb1717;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    border: none;
    box-shadow: 0px 0px 5px#888;
    margin: 8px;
    margin-left: 5%;
    transition: 0.3s ease;
  }

  .del:hover {
    background: #6a1111;
  }