h1{
    font-family: Arial, Helvetica, sans-serif;
}

.hr{
    background: linear-gradient( #e2f2ff,  #95cfff, #65b4f5);
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px #888;
    display: inline-block;
}
.container{
    display: flex;
    align-items: center;
}


