.logos-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1{
  width: 25%;
  height: 150px;
  margin: 0 10px;
}
  
.logo2{
    width: 15%;
    height: 150px;
    margin: 0 10px; 
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: red;
}

.pre1{
    text-align: center;
    font-size: 20px;
    font-family: arial;
}

h3{
    position: relative;
    left: 5%;
}

.pre2{
    position: relative;
    left: 5%;
    font-size: 15px;
    font-family: arial;
}

.p1{
    text-align: center;
    font-size: 15px;
}

.assifabio{
    width: 15%;
    height: 90px;
    margin: 0 10px;
    position: relative;
    left: 10%;
}

.p2{
    position: relative;
    left: 10%;
    font-size: 15px;
    font-family: arial;
}

.pre3{
    position: relative;
    left: 10%;
    font-size: 15px;
    font-family: arial;
}

.p3{
    position: relative;
    left: 69%;
    bottom: 260px;
    font-size: 15px;
    font-family: arial;
    width: fit-content;
}

.pre4{
    position: relative;
    left: 69%;
    bottom: 120px;
    font-family: arial;
    font-size: 15px;
}

.botao{
    display: block;
    margin: auto;
    height: 30px;
    line-height: 30px;
}

.urlsite{
    text-align: center;
    font-size: 15px;
    color: red;
    font-family: arial;
}

.rodape{
    text-align: center;
    font-size: 15px;
    font-family: arial;
}