.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
  }
  .layout2{
    background-color:#d0f0c0;
    border-radius:0px 0px 10px 10px;
    width:70%;
    margin: auto; 
    height:598px;
    justify-content: center;
    box-shadow:0px 4px 10px #888;
  }
  .criar_solicitacao{
    padding-left: 2%;
    padding-right:3%;
    color: #141414;
    border-radius: 6px;
    background-color: #98fb98;
    box-shadow: 0px 0px 5px #888;
}

.criar_solicitacao:hover{
    color: #fff;
    margin: 10px;
    background-color:  #6eb8f5;
}
  
  .bottom{
    display: flex;
    flex-direction: row;
    height: calc(100% - 120px);
    background-color: #008CBA;
    color: #fff;
    border:none;
    box-shadow:0px 0px 10px #888;
    border-radius: 4px;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    transition: 0.3s ease; 
  }
  .bottom:hover{
    background-color: #006c91;
    padding-left:20px;
    padding-right:20px;
    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    
  }
  
  .box {
    background-color: #fff;
    height: calc(50% - 10px);
    margin: 30px;
    box-shadow: 0px 0px 10px #888888;
  }

h1,th{
  font-family: Arial, Helvetica, sans-serif;
}

th{
  background: #f8f8f8;
  border-radius: 8px; 
  height: 6vh;
  padding: 10px;
  width: 25%;
  
}

.table{
  height:18vh;
  background:linear-gradient(#e8f5ff,#c3e3fd,#9acef8,#6eb8f5,#2196f3);
  box-shadow:0px 0px 10px #888888;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  border-collapse:separate;
  border-spacing: 10px;
}
::-webkit-scrollbar{
  width:5.9px;
  height: 9px;
}
::-webkit-scrollbar-thumb{
  border-radius:30px;
  background:#6eb8f5;
  width:5.9px;
  height: 9px;
}
.dados{
  border-radius:10px;
  box-shadow:0px 0px 10px#888;
  border: none;
  trAnsition: 0.3s ease;
}
.dados:hover{
  background:#e0e0e0;
}