  .dados{
    background:#fff;
    border-radius:10px;
    box-shadow:0px 0px 10px#888;
    border: none;
    trAnsition: 0.3s ease;
  }
  .dados:hover{
    background:rgb(224, 224, 224);;
  }

  .layout2{
    background-color:#d0f0c0;
    border-radius:0px 0px 10px 10px;
    width:70%;
    margin: auto; 
    height:1050px;
    justify-content: center;
    box-shadow:0px 4px 10px #888; 
    padding-top:10px;
  }

