.criar_cadastro{
    padding:8px;
    color: #141414;
    border-radius: 10px;
    background-color: #98fb98;
    box-shadow: 0px 0px 5px #888;
}

.criar_cadastro:hover{
    color: #fff;
    margin: 10px;  
    background-color:  #479b47;
}

.th{
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f8f8;
    border-radius: 8px; 
    height: 6vh;
    padding: 10px;
    width: 25%;
    
}

.tr{
    width: 15%;
}

.table{
    height: 18vh;
    background: linear-gradient(#CCF62C,#98C74E,#60A261,#357A5B);
    box-shadow: 0px 0px 10px #888888;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    width:25%;                                                                                                                                                                                                                              
}

.container{
    display: flex;
    align-items: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding:8px;
}

::-webkit-scrollbar{
  width:5.9px;
  height: 9px;
}
  
::-webkit-scrollbar-thumb{
  border-radius:30px;
  background:#6eb8f5;
  width:5.9px;
  height: 9px;
}

.layout2{
  background-color:#d0f0c0;
  border-radius:0px 0px 10px 10px;
  width:70%;
  margin: auto; 
  height:598px;
  justify-content: center;
  box-shadow:0px 4px 10px #888; 
  
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.search-box{
    position: absolute;
    top: 27%;
    left: 75%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    height: 25px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border:none ;
    background: none;
    outline: none;
    padding: 0;
    color:#0b0c0c ;
    font-size: 16px;
    line-height: 40px;
}
    
.lupa{
    height: 20px;
    width: 20px;
}