.criar_cadastro {
    padding: 10px;
    color: #141414;
    border-radius: 10px;
    background-color: #98fb98;
    box-shadow: 0px 0px 5px #888;
    left: 50%;
    position: absolute;
}

.criar_cadastro:hover {
    background-color: #479b47;
    color: #fff;
}

.th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: #f8f8f8;
    border-radius: 8px;
    height: 6vh;
    padding: 15px;
    width: 25%;
}

.tr {
    width: 10%;
    background: #f8f8f8;
}

.table {
    background: linear-gradient(#22833f, #53a12f);
    box-shadow: 0px 0px 10px #888888;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    width: 90%;
}

.container {
    display: flex;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.search-box {
    position: absolute;
    top: 145px;
    left: 75%;
    transform: translate(-50%, -50%);
    background: #8381817a;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.lupa {
    height: 25px;
    width: 25px
}

.lixoicon {
    height: 25px;
    width: 25px;
  }

.penicon{
    height: 25px;
    width: 25px;
}