.layout2 {
  background-color:#d0f0c0;
  border-radius:0px 0px 10px 10px;
  box-shadow:0px 4px 10px #888;
  width:70%;
  margin: auto;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logoh1{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
height: 150px;
}
.resumo{
  text-align: justify;
  
}
.saibamais1{
  display: block;
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius:5px; 
}
.login{
  font-weight: bold;
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius:5px;
}
a:hover{
  text-shadow:0px 0px 10px#888;
}

.layout2{
    background-size:contain;
    background-attachment:fixed;
    background-color:#d0f0c0;
    border-radius:0px 0px 10px 10px;
    width:70%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:598px;
    box-shadow:0px 4px 10px #888;
=======
    margin: 0 auto;
    text-align: center;
    position: absolute;
    height: 50%;
>>>>>>> 40d16c5c72307c976f74ae768ad4e9506c7c3fc5
}
