h1{
    font-family: Arial, Helvetica, sans-serif;
}

.hr{
    background: linear-gradient(#BBE06C,#7CB855,#469B4C,#3C6E57);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
}

.dados{
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888888;
    transition: 0.3s ;
}
.dados:hover{
    
}
::-webkit-scrollbar{
    width:5.9px;
    height: 9px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius:30px;
    background:#6eb8f5;
    width:5.9px;
    height: 9px;
  }