.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
  }
  
  .criar_solicitacao{
    padding-left: 2%;
    padding-right:2%;
    color: #141414;
    border-radius: 6px;
    background-color: #98fb98;
    box-shadow: 0px 0px 5px #888;
}

.criar_solicitacao:hover{
    color: #fff;
    margin: 10px;
    background-color:  #6eb8f5;
}
  
  .bottom {
    display: flex;
    flex-direction: row;
    height: calc(100% - 120px);
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    
  }
  
  .box {
    background-color: #fff;
    height: calc(50% - 10px);
    margin: 30px;
    box-shadow: 0px 0px 10px #888888;
  }

h1,th{
  font-family: Arial, Helvetica, sans-serif;
}

th{
  background: #f8f8f8;
  border-radius: 8px; 
  height: 6vh;
  padding: 10px;
  width: 25%;
  
}

.table{
  height: 18vh;
  background: linear-gradient(#CCF62C,#98C74E,#60A261,#357A5B);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px;
}