body {
    background-color: #d0f0c0; 
  }
  .container{
    margin: auto;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .login {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  input[type=email], input[type=password] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888888;
    transition: 0.3s ;
  }

  input[type=email]:hover, input[type=password]:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.3 ease;
  }
  
  button[type=submit] {
    background-color: #4cbb17;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:0.3s ease;
    box-shadow: 0px 0px 10px #888888;
  }

  button[type=submit]:hover{
    background-color: #4bbb1798;
  }
  
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  a{
    text-decoration: none;
    color:#0077ff;   
    padding: 5px;
    padding-left:6%;
    padding-right:6%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;

  }

  a:hover{
    color:#008CBA;
    background-color: rgb(224, 224, 224);
  }
  ::-webkit-scrollbar{
    width:5.9px;
    height: 9px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius:30px;
    background:#6eb8f5;
    width:5.9px;
    height: 9px;
  }