.logoh1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
::-webkit-scrollbar{
  width:5.9px;
  height: 9px;
}
::-webkit-scrollbar-thumb{
  border-radius:30px;
  background:#6eb8f5;
  width:5.9px;
  height: 9px;
}
.layout{
  background-color:#d0f0c0;
  border-radius:10px;
}