* {
    box-sizing: border-box;
}

body{
    background:linear-gradient( #EAE7B1,#A6BB8D,#61876E,#3C6255 );
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:contain;    
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    
}

header{
    background: linear-gradient(to bottom right,#FDEEDC,#FFD8A9,#F1A661,#E38B29);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;

}

.layout{
    background-color:#ffffff;
    border-radius:10px 10px 0px 0px;
    box-shadow:0px 0px 10px #888;
    width:70%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

nav{
    background:linear-gradient(#BBE06C,#7CB855,#469B4C,#3C6E57);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888;
    display: flex;
}

nav .left{
    display: flex;
    gap: 40px; 
}

nav .left a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon{
    width: 40px;
    display: inline;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
    transition: 0.6s; 
    
}

a:hover{
    color: #fff;
}

.right{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.bem_vindo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    justify-content:right;
}  

.logins{
    font-weight: bold;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius:5px;
}

.bnt_login{
    border:none;
    box-shadow:0px 0px 10px #888;
    background:#BBE06C;/* <---- cor aqui ó */
    border-radius:4px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin:5px;
    transition:0.3s ease;
}

.bnt_login:hover{
    background:#4cbb17;
    color:#fff;
    box-shadow:0px 0px 2px #fff;
}

::-webkit-scrollbar{
    background:#004524;
    width:5.9px;
    height: 9px;
}

::-webkit-scrollbar-thumb{
    border-radius:30px;
    background:#76a954;
    width:5.9px;
    height: 9px;
}  

::-webkit-scrollbar-thumb:hover{
    background:#5f8744;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

/* link:video do carlinhos dando a bunda e chupando homens */