body{
    background:linear-gradient( #EAE7B1,#A6BB8D,#61876E,#3C6255 );
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:contain;    
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    
}

header{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;

}

nav{
    background:linear-gradient(#BBE06C,#7CB855,#469B4C,#3C6E57);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888;
    
}


.icon{
    width: 3%;
    display: inline;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
    transition: 0.6s; 
    
}

a:hover{
    color: #fff;
    padding-right: 1.5%;
    padding-left: 1.5%; 
}
::-webkit-scrollbar{
    width:5.9px;
    height: 9px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius:30px;
    background:#6eb8f5;
    width:5.9px;
    height: 9px;
  }
.bnt_login{
    border:none;
    box-shadow:0px 0px 10px #888;
    background:#aae08e;/* <---- cor aqui ó */
    border-radius:4px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin:5px;
    transition:0.3s ease;
}
.bnt_login:hover{
    background:#4cbb17 ;
    padding-left:8px;
    padding-right:8px;
}
.layout{
    background-color:#d0f0c0;
    border-radius:10px 10px 0px 0px;
    box-shadow:0px 0px 10px #888;
    width:70%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    